body {
  font-family:  'Montserrat', sans-serif;
  text-align: center;
}

.container-fluid {
  padding: 7% 15%;
}



h1 , h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;


}


p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color:white;
}

.section-heading {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}

/* Sections */
.color-section {
  color:white;
  background-color: #ff4c68;
}

.white-section{
  background-color: white;
}



#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-weight: 400;
  font-size: 1.2rem;
}

/*  Download Buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-img {
  width: 60%;
  transform: rotate(25deg);
  margin-left: 50px;
  position: absolute;

}


/* Features */

#features {

  position: relative;

}



.feature-title {
  font-weight: 600;
  font-size: 1.5rem;
}

.ft-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.ft-icon:hover {
  color: #ff4c68;
}


/* Testimonials */
#testimonials {
  background-color: #ef8172;
  color: white;
}

.testimonial-text {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}





.t-img {
  width: 10%;
  border-radius: 100%;
  margin: 3%;
}

/* Press */
#press{
  background-color: #ef8172;
  padding: 3%;
}

.p-img {
  width:15%;
  margin: 3% 3% 5%;
}

/* Pricing */
#pricing {
  padding: 100px;
}
.p-col {
  padding: 3% 2%;
}

.price-text {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}

@media (max-width: 1028px){

  #title {
    text-align: center;
  }
  .title-img{
    position: static;
    transform: rotate(0);
  }
}

/* CTA */
#cta {
  padding: 10% 25%;
}

.cta-btn {
  margin: 7% 3%;
}

/* Footer  */
#footer {
}

.f-icon {
  margin: 5% 1%;
}
